.tarjeta{
    margin-top: 2%;
    max-width: 90%;
}

.flexible{
    display: flex;
    align-items: flex-start;
    justify-items: flex-start;
}

.flexcard{
    display: flex;
    align-items: flex-start;
    margin: 0.5%;
}

.titulo{
    align-items: flex-start;
    font-size: 200%;
    margin-left: 2%;
}

.ubicacio{
    font-size: 80%;
    margin-top: -1%;
}

p{
    color: mediumblue;
}

.descripcion{
    font-size: 90%;
    margin-top: -1%;
}

.texto{
    width: 70%;
    margin-left: 5%;
    text-align: left;
}

.foto{
    border-radius: 0.3em;
}